$title-size: 40px
$subtitle-size: 30px
$featured-size: 22px
$text-size: 18px

$gray: #637D99
$blue: #0091DE
$black: #323D4B
$orange: #DA9500
$light-gray: #E8EEF5


body
  color: $gray
  text-align: center
  font-size: $text-size

.header
  margin: 80px 0 80px 0

.title
  font-size: $title-size

.subtitle
  color: $black
  font-size: $subtitle-size

.featured
  color: $black
  text-align: left
  font-size: $featured-size

.quote
  margin: 40px 0 40px 0

  p
    color: $black
    font-size: $subtitle-size
    font-style: italic

  .author
    color: $blue
    font-size: $featured-size
    margin-top: 10px
    margin-bottom: 30px

.description
  text-align: left

.programs
  div
    margin-top: 80px
    font-size: $featured-size

  .developer
    color: $blue

  .designer
    color: $orange

  button
    width: 240px
    height: 50px
    color: #fff
    border: 1px solid #fff
    border-radius: 10px
    font-size: 18px

  .devApply
    border-color: #0091DE
    background: #0091DE

  .designerApply
    border-color: #DA9500
    background: #DA9500

.testimony
  text-align: left
  margin-top: 80px

  .author
    color: $blue
    font-size: $featured-size
    margin: 40px 0 0 0

  .role
    color: $black

  p
    margin-bottom: 40px
    font-style: italic

.faq
  margin-top: 80px

  .title
    margin-bottom: 80px

  p
    text-align: left

form
  display: none
