body
  font-size: 18px
  text-align: center
  color: #637D99

.title
  font-size: 40px
  color: #637D99
  margin: 80px 0 80px 0

.quote
  font-size: 30px
  color: #323D4B

.name
  color: #0091DE
  font-size: 22px
  margin-top: 10px

.description
  text-align: left
  margin-top: 40px
  font-size: 22px

  p
    font-size: 18px

.bold
  color: #323D4B
  margin-bottom: 20px

.programs
  h1
    margin-top: 80px
    font-size: 30px

.developer
  h1
    color: #0091DE

.designer
  h1
    color: #DA9500

.quote
  h1
    font-size: 30px

.testimony
  text-align: left
  margin-top: 80px

  h1
    font-size: 30px
    margin: 40px 0 0 0

  p
    font-size: 22px
    margin: 0 0 10px 0
    color: #323D4B

button
  width: 240px
  height: 50px
  color: #fff
  border: 1px solid #fff
  border-radius: 10px
  font-size: 18px

.devApply
  border-color: #0091DE
  background: #0091DE

.designerApply
  border-color: #DA9500
  background: #DA9500

form
  display: none
