<html>
  <head>
    <meta charset="utf-8">
    <title>Apprenticeship Program</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=45f0158483378ee58cc723c2e45dc3c9"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="//use.typekit.net/vye0ajp.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body ng-app="apprenticeship">
    <div class="title">
      Apprenticeship Program
    </div>

    <hr>
    <div class="quote">
      “You teach me, I forget. You show me, I remember. You involve me,
      I understand.”
      <div class="name">- E. O. Wilson</div>
    </div>
    <hr>

    <div class="description">
      <div class="bold">Apprenticeships are not just for begginers</div>
      <div>
        This program will drive you into a professional environment that will
        set you up for hiring, either by Group Buddies or one of our partners.
      </div>

      <div class="programs">
        <div class="developer">
          <h1>Development Apprenticeship</h1>
          <p>
            This program will dive you into a professional environment that will
            set you up for hiring, either by Group Buddies or one of our partners.
          </p>
          <button class="devApply">Apply for Apprenticeship</button>
        </div>

        <div class="designer">
          <h1>Development Apprenticeship</h1>
          <p>
            This program will dive you into a professional environment that will
            set you up for hiring, either by Group Buddies or one of our partners.
          </p>
          <button class="designerApply">Apply for Apprenticeship</button>
        </div>
      </div>
    </div>

    <div class="testimony">
      <hr>
      <h1 class="name">João Justo, Developer</h1>
      <p class="role">Featured Alumni</p>
      “You teach me, I forget. You show me, I remember. You involve me,
       I understand.”
       <hr>
    </div>

    <div ng-controller="applicantData">
      <form class="applicantForm">
        What is your name?<br/>
        <input type="text" ng-model="user.name"/><br/>
        Where should we reach you? Email would be lovely.<br/>
        <input type="email" ng-model="user.contact"/><br/>
        What makes you special? How much fun would it be for us to work with you?<br/>
        <input type="text" ng-model="user.superPower"/><br/>
        Show us what you can do. It might be some code sample or the link for your portfolio<br/>
        <input type="text" ng-model="user.work"/><br/>
        What is your github/bitbucket username?<br/>
        <input type="text" ng-model="user.github"/><br/>
        <button ng-click="update(user)"
            ng-disabled="form.$invalid || isUnchanged(user)">submit</button>
      </form>
    </div>

  </body>
</html>
