.ButtonPrimary.pseudo-class-hover {
  background-color: #f99e0a;
  border-color: #f99e0a;
  color: #fff;
}

.ButtonSecondary.pseudo-class-hover {
  background-color: #fab23c;
  box-shadow: 0px 4px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
}

.EngagementLink.pseudo-class-hover {
  text-decoration: underline;
}

.Footer-work-text.pseudo-class-hover {
  text-decoration: underline;
}

.HorizontalGrid.HorizontalGrid--lightFrame .HorizontalGrid-cell.pseudo-class-last-child {
  border-right: 2px solid #fff;
}

.HorizontalGrid.HorizontalGrid--darkFrame .HorizontalGrid-cell.pseudo-class-last-child {
  border-right: 2px solid #ebf5fa;
}

.Link.pseudo-class-hover {
  text-decoration: underline;
}

.Nav-item.pseudo-class-hover {
  border-bottom: 5px solid #fab23c;
}

.Nav-item.pseudo-class-hover .Nav-link {
  color: #fab23c;
}

.Nav.Nav--light .Nav-item.pseudo-class-hover .Nav-link {
  color: #fab23c;
}