@charset 'utf-8';

@import 'font-awesome-compass';
@import 'font-awesome';

@import 'variables';
@import 'blue';

@import 'components/base';
@import 'utilities/base';

.Logo {
  height: 90px;

  @include media('<=tablet') {
    height: 60px;
  }
}

.u-mediaPlaceholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $Theme-color-polar;
}

.u-visibilityHidden {
  visibility: hidden;
}

.u-beginnerBallooon {
  display: inline-block;

  width: 135px;
  height: 200px;

  background-image: image-url('level_balloons.png');
  background-repeat: no-repeat;
}

.u-intermediateBalloon {
  display: inline-block;

  width: 194px;
  height: 200px;

  background-image: image-url('level_balloons.png');
  background-repeat: no-repeat;
  background-position: -135px;
}

@include media('<=tablet') {
  .u-centerOnMobile {
    justify-content: center;

    text-align: center;
  }
}

.Paragraph {
  margin-bottom: $Theme-spacing-small;
}

.u-italic {
  font-style: italic;
}

.ButtonSecondary.ButtonSecondary--fixedWidth,
.ButtonPrimary.ButtonPrimary--fixedWidth {
  width: 200px;

  @include media('>tablet') {
    width: 250px;
  }
}

.Input {
  @include font-properties(bodyText, base);

  padding: $Theme-spacing-xSmall;
  border: 2px solid $Theme-color-white;

  width: 100%;
  color: $Theme-palette-text-body-default;

  transition: all 1s linear;

  &:focus {
    border-color: $Theme-color-horizon;
  }
}

.Input.Input--textarea {
  resize: none;
  height: 150px;
}
