@charset 'utf-8';

@import 'font-awesome-compass';
@import 'font-awesome';

@import 'variables';
@import 'blue';
@import 'components/base';

.Logo {
  height: 90px;

  @include media('<=tablet') {
    height: 60px;
  }
}

.u-mediaPlaceholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $Theme-color-polar;
}

.u-visibilityHidden {
  visibility: hidden;
}

.Paragraph {
  margin-bottom: $Theme-spacing-small;
}

.u-panel {
  background-color: $Theme-color-polar;
}

.u-panelAction {
  background-color: $Theme-color-horizon;
}

.u-panelAlternative {
  background-color: $Theme-color-white;
}

.u-italic {
  font-style: italic;
}

.Input {
  @include font-properties(bodyText, base);

  padding: $Theme-spacing-xSmall;
  border: 2px solid $Theme-color-white;

  width: 100%;
  color: $Theme-palette-text-body-default;

  transition: all 1s linear;

  &:focus {
    border-color: $Theme-color-horizon;
  }
}

.Input.Input--textarea {
  resize: none;
  height: 150px;
}
