$FormGrid-border: 2px solid $Theme-color-polar;

.FormGrid {
  border-top: $FormGrid-border;
  border-left: $FormGrid-border;
  border-right: $FormGrid-border;
}

.FormGrid-row {
  display: flex;

  border-bottom: $FormGrid-border;
}

.FormGrid-cell {
  width: 100%;
}

[class^="FormGrid-cell"]:not(:last-child) {
  border-right: $FormGrid-border;
}

.FormGrid-cell--grow2 {
  flex: 2;
}

.FormGrid-cell--grow1 {
  flex: 1;
}
