// Link
//
// Link style
//
// default - Default link
//
// markup:
// <div class="Link {$modifiers}">Lorem Ipsum</div>
//
// Styleguide 1.6

@import '../reset';
@import '../theme_vars';

.Link {
  color: inherit;

  font-weight: $Theme-typography-fontWeight-bold;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline-color: $Theme-palette-outline;
  }
}
