<div class="applicant-form-dev">
  <div class="header">
    <a ui-sref="/"><img src="images/logo-gb.png"></a>
    <h1 class="title">Development Apprenticeship</h1>
  </div>

  <form class="form-content" accept-charset="UTF-8" action="https://formkeep.com/f/106a41780671" method="POST">
    <input type="hidden" name="utf8" value="✓">

    <div class="field">
      <label>Name</label>
      <input type="text" name="Name" autocomplete="off" required/>
    </div>

    <div class="field email">
      <label>Email</label>
      <input type="email" name="Email" autocomplete="off" required/>
    </div>

    <div class="field phone">
      <label>Phone</label>
      <input type="text" name="Phone" autocomplete="off" required/>
    </div>

    <div class="field">
      <label>When are you available to start?</label>
      <input type="text" name="When are you available to start?" autocomplete="off" required/>
    </div>

    <div class="field">
      <label>Give us a link to something you worked on and are proud of.
        Tell us what you did on the project and why you are proud of your work.</label>
      <input type="text" name="Give us a link to something you worked on" autocomplete="off" required/>
    </div>

    <div class="field">
      <label>How do you want to grow as a software developer?</label>
      <textarea type="text" name="How do you want to grow as a software developer?" autocomplete="off" required></textarea>
    </div>

    <div class="field">
      <label>How did you become interested in software development?</label>
      <textarea type="text" name="How did you become interested in software development?" autocomplete="off" required></textarea>
    </div>

    <div class="field">
      <label>Why is this important to you?</label>
      <textarea type="text" name="Why is this important to you?" autocomplete="off" required></textarea>
    </div>

    <div class="submit">
      <button class="devApply" type="submit" value="Submit">Submit Application</button>
    </div>

  </form>
</div>
