<div ng-controller="applicantData">
  <form class="applicantForm">
    What is your name?<br/>
    <input type="text" ng-model="user.name"/><br/>
    Where should we reach you? Email would be lovely.<br/>
    <input type="email" ng-model="user.contact"/><br/>
    What makes you special? How much fun would it be for us to work with you?<br/>
    <input type="text" ng-model="user.superPower"/><br/>
    Show us what you can do. It might be some code sample or the link for your portfolio<br/>
    <input type="text" ng-model="user.work"/><br/>
    What is your github/bitbucket username?<br/>
    <input type="text" ng-model="user.github"/><br/>
    <button ng-click="update(user)"
    ng-disabled="form.$invalid || isUnchanged(user)">submit</button>
  </form>
</div>
