<div class="header">
  <img src="images/logo-gb.png">
  <div class="title">Developer Apprenticeship</div>
</div>

<form class="form-content" accept-charset="UTF-8" action="https://formkeep.com/f/6f9247c5c02a" method="POST">
  <input type="hidden" name="utf8" value="✓">
  <div class="field">
    <label>Name</label>
    <input type="text" name="name" ng-model="user.name"/>
  </div>
  <div class="field email">
    <label>Email</label>
    <input type="email" name="email" ng-model="user.contact"/>
  </div>
  <div class="field phone">
    <label>Phone</label>
    <input type="text" name="phone" ng-model="user.phone"/>
  </div>
  <div class="field">
    <label>When are you available to start?</label>
      <input type="text" name="availability" ng-model="user.availability"/>
    </div>
  <div class="field">
    <label>Give us a link to something you worked on and are proud of.
      Tell us what you did on the project and why you are proud of your work.</label>
    <input type="text" name="work" ng-model="user.work"/>
  </div>
  <div class="field">
    <label>How do you want to grow as a software developer?</label>
    <input type="text" name="objectives" ng-model="user.objectives"/>
  </div>
  <div class="field">
    <label>How did you become interested in software development?</label>
    <input type="text" name="why" ng-model="user.why"/>
  </div>
  <div class="field">
    <label>Why is this important to you?</label>
    <input type="text" name="Why is this important" ng-model="user.why"/>
  </div>
  <div class="submit">
    <button class="devApply" type="submit" value="Submit">Submit Application</button>
  </div>
</form>
