<div class="header">
  <img src="images/logo-gb.png">
  <div class="title">Developer Apprenticeship</div>
</div>
<div class="featured">What would you say is your experience with designing for the web</div>
<p>
  AAt Group Buddies, we focus on designing products for the other side of the screen, aiming for an intuitive and delightful experience for the users.
</p>
<p>
  Our Design Apprenticeship will make you dig deeper into how the user perceives design and how to design solutions for their problems, instead of decorations.
</p>

<div class="programs">
  <div class="column">
    <div class="designer">Beginner</div>
    <p>
      You’re not quite ready for taking the apprenticeship just yet, but you definitely have the right spirit and we can help you get there.
      We recommend you taking Creators School Development course, that will get you more than ready.
    </p>
    <button class="designerApply">Learn More</button>
  </div>

  <div class="column right">
    <div class="designer">Intermediate</div>
    <p>
      You've built one or two things on your own and you're familiar with the concept of TDD, but you still have a lot to learn. You want to dig deeper and
    </p>
    <button ng-click="user.designer = !user.designer" class="designerApply">Apply for Apprenticeship</button>
  </div>
