<div class="header">
  <img src="images/logo-gb.png">
  <div class="title">Designer Apprenticeship</div>
</div>
<div class="container">
  <div class="featured">What would you say is your experience with designing for the web</div>
  <p>
    At Group Buddies, we focus on designing products for the other side of the screen, aiming for an intuitive and delightful experience for the users.
  </p>
  <p>
    Our Design Apprenticeship will make you dig deeper into how the user perceives design and how to design solutions for their problems, instead of decorations.
  </p>

  <div class="programs">
    <div class="column">
      <div class="designer">Beginner</div>
      <p>
        You don't have any experience in designing products or even
        websites, but you do want to follow that path and learn more
        about it. We can help you by recommending that you take Creators
         School Design course, which will take you to a whole new level.
      </p>
      <button class="designerApply">Learn More</button>
    </div>

    <div class="column right">
      <div class="designer">Intermediate</div>
      <p>
        You've got some experience designing for the web and even designed a
        couple of products, regardless of the outcome. You understand
        what User Experience means and you focus on designing for your users and
        not for your own subjectivity.
      </p>
      <p>
        If this sounds like you, we believe this is a great opportunity for
        you to learn faster by solving real problems from real people.
      </p>
      <button ng-click="user.designer = !user.designer" class="designerApply">Apply for Apprenticeship</button>
    </div>
  </div>
</div>
