<div class="header">
  <img src="images/logo-gb.png">
  <div class="title">Developer Apprenticeship</div>
</div>
<div class="container">
  <div class="featured">What would you say is your experience with programing for the web</div>
  <p>
    Developers at Group Buddies have a strong experience in building and shipping
    applications following a test-driven development process, with high-quality standards.
  </p>
  <p>
    Our Developer Apprenticeship aims to set you up into working with those
    standards in mind and accepting nothing less.
  </p>

  <div class="programs">
    <div class="column">
      <div class="developer">Beginner</div>
      <p>
        You’re not quite ready for taking the apprenticeship just yet, but you definitely have the right spirit and we can help you get there.
        We recommend you taking Creators School Development course, that will get you more than ready.
      </p>
      <button class="devApply">Learn More</button>
    </div>

    <div class="column right">
      <div class="developer">Intermediate</div>
      <p>
        You've built one or two things on your own and you're familiar with the concept of TDD, but you still have a lot to learn. You want to dig deeper and
      </p>
      <button ng-click="user.dev = !user.dev" class="devApply">Apply for Apprenticeship</button>
    </div>
  </div>
</div>
