<h1 class="title">Frequently Asked Questions</h1>

<h2 class="featured">Is this for you?</h2>
<p>
  We look for candidates who have a proven passion for design
  and development and who have demonstrated the ability to learn
  quickly. Candidates should have excellent communication and
  interpersonal skills.
</p>
<p>
  This program is ideal for either recent graduates or more
  experienced candidates making a technology or career change,
  and it's a great opportunity to work with a forward-thinking
  company, composed of great professionals that are passionate
  about teaching and getting better at their craft.
</p>

<h2 class="featured">Hiring</h2>
<p>
  In the final month, you may receive an offer for a position as a
  full designer or developer at Group Buddies, or we'll connect you with
  other great potential employers.
</p>

<h2 class="featured">Other</h2>
<p>
  We are launching two apprenticeships for this summer starting in the
   end of June. We are looking for highly curious people that are eager
    to learn more about the magic world of the Web and Mobile.
    If you are a newly-graduate, finishing your master's degree or
    just trying to improve your craft, this is a unique opportunity to
    learn side by side with our amazing team. We don't believe anyone
    should work for free, so this will be a remunerated apprenticeship.
</p>
