<div class="title">Frequently Asked Questions</div>
<div class="featured">Is this for you?</div>
<p>
  We look for candidates who have a proven passion for design
  and development and who have demonstrated the ability to learn
  quickly. Candidates should have excellent communication and
  interpersonal skills.
</p>
<p>
  This program is ideal for either recent graduates or more
  experienced candidates making a technology or career change,
  and it's a great opportunity to work with a forward-thinking
  company, composed of great professionals that are passionate
  about teaching and getting better at their craft.
</p>
<br>
<div class="featured">Duration</div>
<p>
  The apprenticeship lasts for two months, full-time, 40h/week,
  in Braga, Portugal.
</p>
