<div class="container">
  <ul class="nav">
    <div class="column">
      <li>
        <a href="http://groupbuddies.com/">Who we are?</a>
      </li>
      <li>
        <a href="http://blog.groupbuddies.com/">Visit our blog</a>
      </li>
    </div>
    <div class="column right">
      <li>
        <a href="#">Any doubts?</a>
      </li>
      <li>
        <a href="https://twitter.com/groupbuddies">Follow us on Twitter</a>
      </li>
    </div>
  </ul>
  <div class="copyright">
    <p>
      &copy; Copyright 2014 <b>Group Buddies</b> all rights reserved
    </p>
  </div>
</div>
