<div class="description">
  <div class="bold">Apprenticeships are not just for begginers</div>
  <div>
    This program will drive you into a professional environment that will
    set you up for hiring, either by Group Buddies or one of our partners.
  </div>

  <div class="programs">
    <div class="developer">
      <h1>Development Apprenticeship</h1>
      <p>
        This program will dive you into a professional environment that will
        set you up for hiring, either by Group Buddies or one of our partners.
      </p>
      <button class="devApply">Apply for Apprenticeship</button>
    </div>

    <div class="designer">
      <h1>Development Apprenticeship</h1>
      <p>
        This program will dive you into a professional environment that will
        set you up for hiring, either by Group Buddies or one of our partners.
      </p>
      <button class="designerApply">Apply for Apprenticeship</button>
    </div>
  </div>
</div>
