<div class="featured">Apprenticeships are not just for begginers</div>
<p>
  This program will drive you into a professional environment that will
  set you up for hiring, either by Group Buddies or one of our partners.
</p>

<div class="programs">
  <div class="column">
    <div class="developer">Development Apprenticeship</div>
    <p>
      This program will dive you into a professional environment that will
      set you up for hiring, either by Group Buddies or one of our partners.
    </p>
    <button ui-sref="developer_programs" class="devApply">Apply for Apprenticeship</button>
  </div>

  <div class="column right">
    <div class="designer">Designer Apprenticeship</div>
    <p>
      This program will dive you into a professional environment that will
      set you up for hiring, either by Group Buddies or one of our partners.
    </p>
    <button ui-sref="designer_programs" class="designerApply">Apply for Apprenticeship</button>
</div>
